# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# Virtual environments
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

